@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.spin {
  animation: spin 40s linear infinite;
}

/* class  Footer */

.soc {
  fill: #3f2613;
  font-size: 25px;
  transition-duration: 200ms;
}

.soc:hover,
.soc:active {
  fill: #21b0fe;
}

.address {
  display: inline-block;
  font-size: 1.25rem;
  font-weight: 600;
  color: #3f2613;
  transition-duration: 200ms;
}

.address:hover,
.address:active {
  color: #21b0fe;
  transform: scale(1.05);
}
/* class Footer */
